.cardHeading{
    text-align: center;
}


.card1 {
    border: 1px solid #ccc;
    width: 400px;
    height: 430px;
    /* padding: 20px; */
    margin: 50px auto;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(17, 15, 15);
}

.card-img {
    padding: 20px;
  width: 30%;
  border-radius: 50%;
}

.cardHeading3{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'calibri';
}

.cardPara{
    color: rgb(151, 145, 145);
    font-size: 15px;
    margin-top: 10px;
    font-family: 'calibri';
}

.cardBtncontainer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
}

.btn-dark {
    background-color: #ff3b30;
}

.btn-light {
    background-color: #32d74b;
}

.cardBtncontainer button{
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.cardBorder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-bottom: 2px solid rgb(31, 29, 29);
    color: rgb(211, 202, 202);
    font-size: 18px;
    font-family: 'calibri';
}

.card2{
    border: 1px solid #ccc;
    width: 300px;
    height: 330px;
    /* padding: 20px; */
    margin: 50px auto;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(17, 15, 15);
}

